.slick-next, .slick-prev {
    height: 26px;
    top: 64px;
    width: 26px;
}

.slick-prev {
    left: 0;
    z-index: 2;
}

.slick-next {
    right: 0;
}

.slick-prev::before, .slick-next::before {
    font-size: 26px;
    opacity: 1;
}

