body {
    font-family: 'ヒラギノ角ゴ ProN W3', Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#wrapper {
    background-color: #eeeeee;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#header-box {
    min-height: 60px;
    background-color: #0c0000;
    width: 100%;
    padding: 0;
}
#header {
    box-sizing: border-box;
    min-width: 768px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#site-info {
    font-size: 21.76px;
    padding: 15px 0;
    letter-spacing: 3px;
    font-weight: normal;
    margin-right: auto;
    max-width: 250px;
    min-width: 100px;
}
#site-info span a {
    color: #f4f4f4;
}
#drawernav3 {
    width: auto;
}
#drawernav3 ul.menu-box {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}
#drawernav3 ul.menu-box li.menu-item {
    line-height: 1.6rem;
}
#drawernav3 ul.menu-box li.menu-item a {
    padding: 3px 25px;
    font-size: 14px;
    color: #f4f4f4;
    letter-spacing: 2px;
    height: 40px;
}
#headmenu {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}
#headmenu a {
    font-size: 18px;
    color: #f4f4f4;
    margin: 0 10px;
}
#contents {
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
}
#main-contents {
    flex: 2;
    margin-left: 30px;
}
input[name="switch"] {
    display: none;
}
.tabBtn-mag {
    margin-bottom: 30px;
    display: inline-flex;
    list-style-type: none;
    width: 100%;
}
.tabBtn-mag li {
    width: 25%;
    text-align: center;
}
.tabBtn-mag li:not(:first-child) {
    margin-left: 4px;
}
.tabBtn-mag label {
    background-color: rgba(189, 189, 189, 0.17);
    display: block;
    padding: 10px;
    font-size: 0.85rem;
}
#sidebar {
    flex: 1;
    margin: 0 30px;
}
.widget:first-of-type {
    margin-bottom: 30px !important;
}
.sidebar_style2 .widget {
    padding-left: 20px;
    margin-bottom: 50px;
}
.textwidget {
    font-size: 0.85rem;
}
.sidebar_style2 .downloadbox {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18);
    padding-bottom: 20px;
    overflow: hidden;
}
.downloadtitle {
    text-align: center;
    padding: 10px;
    background: #0c0000;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
}
.downloadbox p {
    padding: 20px 20px 0 20px;
    margin-top: 0;
}
.textwidget img {
    display: block;
    max-width: 100%;
    height: auto;
}
.downloadlink a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    background: #dd0000;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 30px;
    border: 3px double #fff;
    color: #fff !important;
    transition: 0.4s;
}
.downloadlink a:hover {
    opacity: 0.75;
}
.widgettitle {
    margin-bottom: 15px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 2px;
    font-weight: 500;
    background-color: #0c0000;
    letter-spacing: 2px;
    font-feature-settings: "palt";
}
.widget_recent_entries ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.widget_recent_entries ul li a {
    display: block;
    font-size: 0.85rem;
    line-height: 1.6rem;
    padding: 12px 0 12px 28px;
    color: #0c0000;
    width: calc(100% - 3px);
}
.widget_archive ul li a {
    display: block;
    padding: 12px 0 12px 28px;
    line-height: 1.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: #0c0000;
    font-size: 0.95rem;
}
.widget_categories ul li a {
    display: block;
    padding: 12px 40px 12px 28px;
    line-height: 1.6rem;
    color: #0c0000;
    font-size: 0.95rem;
}