body ,div ,figure ,h3{
    font-family: 'ヒラギノ角ゴ ProN W3', Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
#wrapper {
    background-color: #eeeeee;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#header-box {
    min-height: 60px;
    background-color: #0c0000;
    width: 100%;
    padding: 0;
}
#header {
    box-sizing: border-box;
    min-width: 768px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#site-info {
    font-size: 21.76px;
    padding: 15px 0;
    letter-spacing: 3px;
    font-weight: normal;
    margin-right: auto;
    max-width: 250px;
    min-width: 100px;
}
#site-info span a {
    color: #f4f4f4;
}
#drawernav3 {
    width: auto;
}
#drawernav3 ul.menu-box {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}
#drawernav3 ul.menu-box li.menu-item {
    line-height: 1.6rem;
}
#drawernav3 ul.menu-box li.menu-item a {
    padding: 3px 25px;
    font-size: 14px;
    color: #f4f4f4;
    letter-spacing: 2px;
    height: 40px;
}
#headmenu {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}
#headmenu a {
    font-size: 18px;
    color: #f4f4f4;
    margin: 0 10px;
}
@media (min-width: 1200px) {
    #contents {
        width: 1200px;
    }
}
#contents {
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
}
#main-contents {
    flex: 2;
    margin-left: 30px;
}
input[name="switch"] {
    display: none;
}
.tabBtn-mag {
    margin-bottom: 30px;
    display: inline-flex;
    list-style-type: none;
    width: 100%;
}
.tabBtn-mag li {
    width: 25%;
    text-align: center;
}
.tabBtn-mag li [for="tab-1"] {
    background-color: #0c0000;
    color: #fff;
    position: relative;
}
.tabBtn-mag li [for="tab-1"]:after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
    opacity: 1;
    width: 0;
    height: 0;
    border-top: 8px solid #2b2b2b;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top-color: #0c0000;
}
.tabBtn-mag li:not(:first-child) {
    margin-left: 4px;
}
.tabBtn-mag li:hover {
    transform: scale(0.95);
    transition: 0.3s;
}
.tabBtn-mag label {
    background-color: rgba(189, 189, 189, 0.17);
    display: block;
    padding: 10px;
    font-size: 0.85rem;
}
#sidebar {
    flex: 1;
    margin: 0 30px;
}
.widget:first-of-type {
    margin-bottom: 30px !important;
}
.sidebar_style2 .widget {
    padding-left: 20px;
    margin-bottom: 50px;
}
.textwidget {
    font-size: 0.85rem;
}
.sidebar_style2 .downloadbox {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18);
    padding-bottom: 20px;
    overflow: hidden;
}
.downloadtitle {
    text-align: center;
    padding: 10px;
    background: #0c0000;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
}
.downloadbox p {
    padding: 20px 20px 0 20px;
    margin-top: 0;
}
.textwidget img {
    display: block;
    max-width: 100%;
    height: auto;
}
.downloadlink a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    background: #dd0000;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 30px;
    border: 3px double #fff;
    color: #fff !important;
    transition: 0.4s;
}
.downloadlink a:hover {
    opacity: 0.75;
}
#sidebar .widgettitle {
    margin-bottom: 15px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 2px;
    font-weight: 500;
    background-color: #0c0000;
    letter-spacing: 2px;
    font-feature-settings: "palt";
}
.widget_recent_entries ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.widget_recent_entries ul li a {
    display: block;
    font-size: 0.85rem;
    line-height: 1.6rem;
    padding: 12px 0 12px 28px;
    color: #0c0000;
    width: calc(100% - 3px);
}
#sidebar .widget_archive ul li a {
    display: block;
    padding: 12px 0 12px 28px;
    line-height: 1.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: #0c0000;
    font-size: 0.95rem;
}
#sidebar .widget_categories ul li a {
    display: block;
    padding: 12px 40px 12px 28px;
    line-height: 1.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: #0c0000;
    font-size: 0.95rem;
}
.post-list-mag {
    display: flex;
    flex-wrap: wrap;
}
.post-list-mag .post-list-item:not(:nth-child(2n))  {
    margin-right: 2.6%;
}
article {
    display: block;
}
.post-list-item {
    width: 48.5%;
    margin-bottom: 20px;
}
a.post-list-link {
    display: block;
    position: relative;
    height: 100%;
    padding: 0;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
    margin-bottom: 20px;
}
.post-list-link:hover {
    transform: translateY(-3px);
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}
.post-list-inner {
    display: block;
}
.post-list-thumb img {
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.post-list-meta {
    padding: 10px 17px;
    padding-bottom: 25px;
    width: 100%;
    box-sizing: border-box;
}
.post-list-cat {
    position: absolute;
    color: #fff;
    background-color: #0a0a0a;
    border-radius: 20px;
    font-size: 0.55rem;
    padding: 3px 10px;
    font-weight: 400;
    letter-spacing: 0;
    top: 11px;
    left: 11px;
}
.post-list-cat-red {
    background-color: #dd0000;
}
.post-list-title {
    font-size: 14px;
    line-height: 1.3rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: #0c0000;
}
.post-list-date {
    position: absolute;
    bottom: 0px;
    left: 5%;
    color: #888;
    width: 90%;
    text-align: right;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 10px 0;
}
.pager-top {
    display: block;
    width: 100%;
}
.pagination, .pagination li a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.pagination li {
    position: relative;
    margin: 0 4px;
}
.pagination li:not([class*="current"]) a:hover {
    background-color: #0c0000;
    opacity: 0.5;
    color: #fff;
    transform: translateY(-3px);
    transition: 0.3s;
}
.pagination li.current a {
    background-color: #0c0000;
    border-color: #0c0000;
    border: 1px solid #cdcdcd;
    cursor: default;
    color: #fff;
    pointer-events: none;
}
.pagination a {
    text-decoration: none;
    background: #fff;
    font-weight: 400;
    font-size: 0.85rem;
    padding: 5px 3px 4px 5px;
    border-radius: 20px;
    line-height: 0;
    min-width: 38px;
    min-height: 38px;
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.18);
    color: #aaa;
}
footer {
    padding: 15px 0;
}
#footer-widget-area {
    background-color: #dddddd;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
    border-radius: 2px;
    padding-top: 25px;
    padding-bottom: 45px;
    margin-bottom: 15px !important;
    margin: 0 auto;
}
#footer-widget-area .textwidget p {
    line-height: 1.55rem;
}
@media (min-width: 1200px) {
    #footer-widget-area {
        width: 1140px;
    }
}
@media (min-width: 1200px) {
    #footer-widget-area #footer-widget-box {
        width: 1140px;
        margin-bottom: -45px;
    }
}
@media (min-width: 1200px) {
    #footer-widget-box {
        width: 1140px;
        padding: 0 30px;
    }
}
@media (min-width: 768px) {
    #footer-widget-box {
        display: flex;
        margin: 0 auto;
    }
}
#footer-widget-left {
    flex: 0.8;
}
#footer-widget-left p img {
    width: 120px;
    height: 59px;
    margin: 0 auto;
}
.footerdownloadlink {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.footerdownloadlink a {
    color: #0c0000 !important;
    background: #dd0000;
    display: block;
    width: 80%;
    padding: 10px 15px;
    margin: 0 auto;
    border-radius: 30px;
}
.footer-widget {
    margin-bottom: 45px;
    font-size: 0,95rem;
}
.footer-widget a {
    color: #0c0000;
}
.footer-widget .widgettitle {
    font-family: Quicksand;
    background: none;
    color: #0c0000;
    font-weight: 500;
    border-left: 3px solid #dd000d;
    padding: 0 5px 0 10px;
    margin-bottom: 15px;
    font-size: 0.95rem;
    line-height: 1.15rem;
}
#footer-widget-center-box {
    flex: 1;
    display: flex;
}
#footer-widget-center-box li{
    position: relative;
}
#footer-widget-center-box a {
    display: block;
    font-size: 0.7rem;
    font-weight: 300;
    padding: 7px 0 7px 15px;
    line-height: 1.05rem;
    color: #0c0000;
}
#footer-widget-center-box i {
    position: absolute;
    font-size: 0.5rem;
    top: 9px;
    left: 2px;
}
#footer-widget-center1 {
    flex: 1;
    margin-left: 45px;
}
#footer-widget-center2 {
    flex: 1;
    margin-left: 45px;
}
#footer-widget-right {
    flex: 1;
    margin-left: 45px;
}
.widget_tag_cloud a {
    display: inline-table;
    background: rgba(255, 255, 255, 0.25);
    color: #0c0000;
    font-size: 0.55rem;
    padding: 4px 8px;
    margin: 0 1px 4px 0;
    border-radius: 2px;
    letter-spacing: 0;
}
.widget_tag_cloud i {
    font-size: 1px;
}
.new-entry-item a {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.popular-item .new-entry {
    position: relative;
    flex: 1;
}
.new-entry {
    margin-left: 0px;
}
.new-entry .eyecatch {
    width: 100%;
    padding: 0;
    margin: 0;
}
.new-entry .eyecatch img {
    width: 100%;
    display: block;
    background: #fff;
}
.pop-num {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #dd0000;
    text-align: center;
    line-height: 0;
    font-size: 0.75rem;
    padding-top: 10px;
    letter-spacing: 0;
    box-sizing: border-box;
}
.new-entry-item-meta {
    flex: 2;
    left: calc(4.1666666667% + 0px);
    position: relative;
}
.new-entry-item-title {
    font-weight: 200;
    font-size: 0.85rem;
    line-height: 1.15rem;
}
@media (min-width: 1200px) {
    #footer-box {
        width: 1200px;
    }
}
#footer-box {
    margin: 0 auto;
    font-size: 0.7ren;
}
footer .footer-inner {
    width: calc(100% - 60px);
    float: left;
    margin-left: 30px;
}
#privacy a {
    font-size: 0.7rem;
    color: #0c0000;
    border-left: 1px solid #ddd;
    float: left;
    font-weight: 300;
    padding: 0 15px;
    border-right: 1px solid #ddd;
}
#law a {
    padding: 0 15px;
    border-right: 1px solid #ddd;
    font-size: 0.7rem;
    color: #0c0000;
}
#copyright {
    float: right;
    font-size: 0.7rem;
}
#page-top {
    position: fixed;
    backface-visibility: hidden;
    right: 22px;
    bottom: 22px;
}
#page-top a {
    background-color: #dddddd;
    color: #fff;
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-align: center;
    line-height: 0;
    border-radius: 30px;
    width: 45px;
    height: 45px;
    padding: 8px;
    font-size: 1.6rem;
}
@media (min-width: 1200px) {
    .pickup-contents-box-post-type {
        padding-top: 30px;
    }
}
.pickup-contents-box-post-type {
    width: 100%;
}
@media (min-width: 1200px) {
    .swiper-container {
        width: 1140px;
    }
}
.swiper-container {
    height: 210px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.swiper-slide {
    width: 216px;
    margin-right: 15px;
}
.pickup-image {
    border: 2px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
    position: relative;
    overflow: hidden;
}
.pickup-image img {
    width: 100%;
    height: auto;
    display: block;
}
.pickup-cat {
    font-size: 0.5rem;
    padding: 2px 10px;
    position: absolute;
    top: 7px;
    left: 7px;
    color: #fff;
    background-color: #0a0a0a;
    border-radius: 15px;
    letter-spacing: 0;
}
.pickup-title {
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0 3px;
    line-height: 1.15rem;
    color: #0c0000;
    margin-top: 7px;
}